@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: 179 100% 51%;
    --dark: 0 0% 1%;
    --dark-1: 0 0% 10%;
    --prueba: hsl(179, 100%, 51%);
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

.hero-background {
    background: url('/assets/images/hero-bg.png') no-repeat center bottom, radial-gradient(hsl(var(--dark-1)) 0%, hsl(var(--dark)) 60%);
    background-size: contain;
}

.face {
    -webkit-mask-image: linear-gradient(black 1%, transparent 99%);
    mask-image: linear-gradient(black 1%, transparent 99%);
}

@layer components {
    .h1 {
        @apply text-6xl font-semibold font-title tracking-tighter
    }

    .h2 {
        @apply text-5xl font-semibold font-title tracking-tighter relative before:content-[""] before:absolute before:h-3 before:border-4 before:border-[hsl(var(--primary)/0.6)_transparent_transparent_transparent] before:rounded-[50%] before:w-full before:top-[calc(100%-6px)] before:-z-10 before:rotate-2 before:left-0 inline-block
    }

    .h3 {
        @apply text-2xl font-semibold font-title tracking-tighter relative before:content-[""] before:absolute before:h-3 before:border-4 before:border-[hsl(var(--primary)/0.6)_transparent_transparent_transparent] before:rounded-[50%] before:w-full before:top-[calc(100%-6px)] before:-z-10 before:rotate-2 before:left-0 inline-block
    }
}